@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  //TODO: change to a WEB-FONT !!!
  font-family: "Avenir", sans-serif;
}

.form-horizontal{
  height: auto;
  position: relative;
  display: inline-block;
  width: 100%
}

.modal-dialog{
  z-index: 1000;
}

.modal-backdrop{
  z-index: 1;
}

.modal-content{
  border-radius:0;
  border: none;
  padding: 2em;
}

.modal-content .form-group{
  margin: 0;
}

.modal-content h1{
  text-align: center;
  font-weight: 800;
}

.modal-content .fg-login{
  width: 100%;
  margin-top: 0.5em;
  border-radius: 0;
  font-weight: 800;
  border: none;
  background-size: auto 60%;
  text-align: left;
  background-position: 3% center;
  background-repeat: no-repeat;
  padding: 1em;
  padding-left: 20%;
}

.modal-content .f-login{
  background-color: #3B5998;
  border: solid 1px #EEE;
  background-image: url('/img/Facebook.png');

}

.modal-content .g-login{
  margin-bottom: 1em;
  background-color: #FFF;
  border: solid 1px #EEE;
  color: #333;
  background-image: url('/img/Google.png');
}

.modal-content .or{
  text-align: center;
}

.modal-content input{
  border-radius: 0;
  margin-top: 1em;
}

.modal-content button{
  border-radius: 0;
}

.modal-content .h-input{
  margin-top: 1em;
}

.modal-content .btn-login{
  width: 100%;
  background-color: #c1272d;
  border: none;
  margin-top: 2em;
}

.modal-dialog{
  width: 30em;
  margin: 30px auto;
}

.modal-content .forgot-wrapper{
  margin-top: 2em;
  width: 100%;
  position: relative;
}

.modal-content .forgot-wrapper a{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
}

.modal-content .forgot-wrapper input{
  margin: 0;
  left: 0;
  top: 0;
}



.row{
  margin: 0;
}

.navbar{
  background-color:   #FFF;
  border-radius:      0;
  border:             none;
  height:             60px;
  margin-bottom:      0;
}

.navbar .logo{
  height:             100%;
}

.navbar .container-fluid, .navbar .navbar-header, .navbar .navbar-brand, .navbar .navbar-collapse, .home_header .container{
  height:             100% !important;
}

.navbar .navbar-brand{
  padding:            20% 0 20% 20px;
}

.navbar .navbar-nav{
  top:                50%;
  position:           relative;
  -webkit-transform:  translateY(-50%);
  -moz-transform:     translateY(-50%);
  -ms-transform:      translateY(-50%);
  -o-transform:       translateY(-50%);
  transform:          translateY(-50%);

}

.navbar .navbar-nav a{
  padding-left:       10px !important;
  padding-top:        18px;
  font-weight:        800;
  text-transform:     uppercase;
}

.home_header{
  background-image:   url("/img/img_7347.jpg");
  background-size: 100% auto;
  background-position: center bottom;
  width:              100vw;
  height:             65vh;
  position:           absolute;
  left:               0;
}

.home_header::after{
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}

.quote{
  z-index: 10;
  position:           relative;
  width:              70%;
  color:              #FFF;
  font-weight:        700;
  top:                25%;
}

.home_header .container{
  position:           relative;
}

.search-form{
  z-index: 10;
  position:           absolute;
  display:            inline-block;
  top:                55%;
  width:              100%;
  height:             70px;
  padding:            20px 30px;
  background-color:   rgba(0,0,0,0.8);
}

.search-form > *{
  height:             100%;
}

.btn-search{
  background-color:       #c1272d;
  border:                 none;
  font-weight:            800;
  letter-spacing:         0.1em;
  border-radius: 0;
}

.text-search{
  border: none;
}

.btn-search:hover{
  background-color:   #952226;
}

.text-search:focus{
  outline-style:      none;
  border:             solid 2px #AAA;
}

.btn-attend, .btn-follow{

  background-color:       #c1272d;
}

.avatars{
  border-radius: 50%;
}

.sidebar-avatar{


}
.followed-avatar{
    width: 15rem;
    height: 15.3rem;

}

.following{
  text-align:center;
  padding: 5rem;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;

}

.followed-username{
  padding-top: 1rem;
}

.sidebar{

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 2.2rem 0 0 0;
  color: #F7F7F9;

  .header{
    padding: 3rem;
    width: 100%;
    background-color: #c1272d;
    text-align: center;
    //margin: 0 0 2rem 0;
  }
  h2{

    font-weight: 600;

  }

  ul{
    list-style: none;
  }

  .body{
    padding: 2rem 0 0 0;
    background-color: #222;

    a, a:link, a:visited{
      color: #F7F7F9;

    }

  }

}

.content{
  padding: 0;
  margin-top: 60px;
}


/******************
    EVENTS
******************/

.events-wrapper, .posts-wrapper{
  position: relative;
  width: 100%;
  margin: 0;
}

.events-wrapper .header .background, .posts-wrapper .header .background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.events-wrapper .header h1, .posts-wrapper .header h1{
  font-size: 5em;
}

.posts-wrapper .header{
  position: relative;
  width: 100%;
  height: 20em;
  background-image: url('/img/IMG_2722.jpg');
  background-position: center 70%;
}

.events-wrapper .header{
  position: relative;
  width: 100%;
  height: 20em;
  background-image: url('/img/rommelmarkt.jpg');
  background-position: center center;
}

.events-wrapper .container .add, .dashboard .container .add, .posts-wrapper .container .add{
  margin-bottom: 3em;
  border: 1px solid #EEE;
  padding: 1em;
}

.events-wrapper .container .add{
  margin-bottom: 0;
}

.events-wrapper .container .add a, .dashboard .container .add a, .posts-wrapper .container .add a{
  padding: 5px 10px;
  color: #333;
  border: 4px solid #333;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;

  -webkit-transition: background 0.3s, color 0.3s;
}

.dashboard .container .add a:hover{
  background-color: #333;
  color: #EEE;
}

.posts-wrapper .container .add a:hover{
  background-color: #333;
  color: #EEE;
}

.events-wrapper .container .add a:hover{
  background-color: #333;
  color: #EEE;
}

.events-wrapper .container .row{
  margin: 0;
}

.events-wrapper .img-wrapper, .d-post .img-wrapper{
  width: 4em;
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform:  translateY(-50%);
  -moz-transform:     translateY(-50%);
  -ms-transform:      translateY(-50%);
  -o-transform:       translateY(-50%);
  transform:          translateY(-50%);
  right: 1em;
}

.events-wrapper .img-wrapper p, .d-post .img-wrapper p{
  font-size: 0.8em;
  color: #333;
  font-style: italic;
  text-align: center;
}

.events-wrapper .events-profile-img, .d-post .posts-profile-img {
  width: 100%;
  border-radius: 1000px;
}

.events-wrapper .text-search, .events-wrapper .btn-search, .posts-wrapper .text-search, .posts-wrapper .btn-search{
  margin-top: 3em;
  border-radius: 0;
}


/******************
    EVENTS DETAIL
******************/

.event-d{
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #eeeeee;
  padding-top: 3em;

}

.event-d .date{
  min-height: 14em;
}

.show-event{
  padding-top: 3em;
  position: relative;
}

.show-event .d-event{
  height: auto;
}

.show-event .row{
  margin: 0;
  margin-bottom: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  border: none;
  background-color: #FFF;
}

.show-event .event-dates{
  border: 3px solid #333;
  width: auto;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  right: 1em;
}

.show-event .event-dates > *{
  text-align: right;
}

.show-event .event-dates .day{
  font-size: 5em;
  font-weight: bolder;
  line-height: 0.7em;
  margin-top: 0.2em;
  color: #000000;
}

.show-event .event-dates .month{
  font-size: 1.2em;
}

.show-event .event-dates .hour{
  letter-spacing: 0.1em;
  font-weight: bolder;
  font-size: 1.3em;
}

.show-event .title{
  color: #c1272d;
  font-size: 4em;
  margin: 0;
  font-weight: bolder;
}

.show-event .btn-going{
  color: #FFF;
  background-color: #333;
  border: 3px solid #333;
}

.show-event .btn-attend, .show-event .btn-going{
  margin-left: 15px;
  margin-top: 1.8em;
  border-radius: 0;

  font-size: 1.2em;
  font-weight: bolder;

  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.show-event .btn-attend {
  color: #333;
  background-color: #FFF;
  border: 3px solid #333;
}

.show-event .btn-going:hover{
  background-color: #FFF;
  color: #333;
}

.show-event .btn-attend:hover{
  background-color: #333;
  color: #FFF;
}

.show-event .events-profile-img{
  border-radius: 1000px;
  width: 4em;
}

.show-event .img-wrapper{
}

.show-event .img-wrapper a{
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: none;
  margin-left: 1.5em;
}

.show-event .subtitle{
  position: absolute;
  right: 2em;

  font-weight: bolder;
}

.show-event .attenders{
  font-style: italic;
  color:  #666;
}

.show-event .map-row{
  padding: 0;
}

#map{
  width: 100%;
  height: 300px;
  position: relative;
  bottom: 0;
}


/******************
    POSTS
******************/

.d-post .title{
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: #333;
}

.d-post .tag{
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5em;
  background-color: #c1272d;
  color: #FFF;
  font-weight: bolder;
  font-size: 0.85em;
  letter-spacing: 0.05em;
}

.d-post{
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid #EEE;
  padding-bottom: 1em;
  height: 10em;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  perspective: 1700px;
  -webkit-perspective: 1700px;

  -webkit-transition: background 0.2s;
}

.d-post .background{
  height: 100% !important;
}

.d-post:hover .answer-votes, .d-post:hover .d-post-details{
  left: 2% !important;
}

.d-post-details, .answer-votes{
  height: 100%;
  position: relative;
  top: 50%;
  left: -10%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}

.dont-answer{
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  background-color: #333;
  color: #FFF;
}

.answers, .votes{
  background-color: #EEE;
  height: 5em;
  width: 5em;
  text-align: center;
  padding: 0;
}

.answers .number, .votes .number{
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 0;
}

.answers{
  float: left;
}

.votes{
  float: right;
}



/******************
    POST DETAIL
******************/

.event-d .i-name{
  text-align: center;
  margin: 0 !important;
  display: inline-block;
  font-size: 1em !important;
  margin-top: 0.5em !important;
  font-weight: 600;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.event-d .header{
  min-height: 16em;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  z-index: 1;
}

.event-d .single-answer:first-child{
  margin-top: 3em;
}

.event-d .single-answer{
  position: relative;
}


.event-d .single-answer::before{
  content: '';
  position: absolute;
  left: -9.99999%;
  width: 9.99999%;
  height: 1px;
  background-color: #999;

  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

}

.single-answer .no-answers{
  display: inline-block;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding-top: 2em;
  padding-bottom: 2em;
}

.event-d .img-wrapper{
  position: relative;
}

.event-d .img-wrapper a{
  text-align: center;
  margin: 0 !important;
  display: inline-block;
  font-size: 1em !important;
  margin-top: 0.5em !important;
  font-weight: 600;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.event-d .single-answer .col-md-10{
  position: relative;
  height: auto !important;
}

.event-d .answer-wrapper{
  margin-top: -0.4em;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 10;
  height: 10em;
  min-height: 80vh;
}

.event-d .answer-wrapper .col-md-10{
  padding: 0;
}

.event-d .single-answer .col-md-10{
  padding: 0 2em !important;
}

.event-d .answer-wrapper .col-md-2{
  height: 100%;
}

.event-d .d-votes > *{
  text-align: center;
  font-weight: bolder;
  margin-bottom: 0;
}

.event-d{
  min-height: 100vh;
}

.event-d .line{
  background-color: #999;
  position: relative;
  width: 1px;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.event-d .d-votes .v{
  font-size: 3em;
}

.event-d .title{
  color: #c1272d;
}

.event-d .posted{
  font-style: italic;
  font-weight: 100;
  margin-top: 1em;
  color: #999;
}

.event-d .body-question{
  font-weight: 500;
  font-size: 1.1em;
}

.event-d .img-wrapper{
  left: 50%;top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  right: auto;
}



/******************
    DASHBOARD
******************/

.dashboard .col-md-10, .dashboard .col-md-2{
  padding: 0;
}

.dashboard .col-md-10{
  margin-left: 16.6666%;
}


.dashboard{
  position: relative;
  overflow: hidden;
  margin: 0;
}

.dashboard .content-wrapper{
  margin-top: -2em;
  position: relative;
}

.dashboard-header{
  position: fixed;
  width: 83.334%;
  height: 11em;
  background: url('/img/Dashboard_Banner.jpg');
  background-size:  100% auto;
  background-position: center 50%;
  background-repeat: no-repeat;
  z-index: 10;
}

.dashboard-header h1{
  position: absolute;
  bottom: -0.25em;
  right: 1em;
  margin: 0;

  font-weight: bolder;
  text-transform: uppercase;
  color:  #FFF;
  font-size: 4em;
}

.side-nav{
  position: fixed;
  padding: 0;
  width: 16.6666%;
  left: 0;
}

.dashboard-nav-header{
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #c1272d;

}

.profile-img-wrapper{
  position: relative;
  border: 1px solid #a61d20;
  display: inline-block;
  padding: 0.5em;
  margin-top: 3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 1000px;
}

.dashboard-profile-img{
  position: relative;

  width: 6em;
  background: #DDD;
  border-radius: 1000px;
}

.dashboard-nav-header h2{
  position: relative;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;

  font-weight: bolder;
  color: #FFF;
  font-size: 2em;
}

.dashboard-nav-menu{
  position: relative;
  background-color: #1b1b1b;
  height: 10000px;
  height: 100vh;
}

.dashboard-nav-menu ul{
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 2em 0;
  list-style: none;
  width: 100%;
}

.dashboard-nav-menu li{
  position: relative;
  height: 4.5em;
  display: inline-block;
  width: 100%;

  -webkit-transition: background 0.3s;
}

.dashboard-nav-menu li img{
  position: relative;
  float: left;
  display: inline-block;
  height: 50%;
  margin-left: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dashboard-nav-menu li a{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.dashboard-nav-menu li .active{
  border-left:  5px solid #4fe2c1;
  background-color: #363636;
}

.dashboard-nav-menu li p{
  position: relative;
  float: left;
  margin-left: 2em;
  display: inline-block;
  top: 50%;
  letter-spacing: 0.05em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: #FFF;
  font-size: 0.9em;
  font-weight: 500;
}

.dashboard-nav-menu li:hover{
  background-color: #363636;
}

.dashboard .text-search, .events-wrapper .text-search, .events-wrapper .btn-search,  .dashboard .btn-search, .posts-wrapper .btn-search,  .posts-wrapper .text-search{
  margin-left: 0;
  height: 2.5em;
}

.events-wrapper .text-search, .dashboard .text-search, .posts-wrapper .text-search{
  padding-left: 5px;
  border: 1px solid #DDD;
  border-right: none;
}

.dashboard .container{
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4em 3em;
  margin-top: 11em;
  z-index: 0;
}

.dashboard .container h1{
  color: #000;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 2.6em;
}

.d-event-dates{
  padding-right: 2em !important;
  text-align: right;
  border-right: 1px solid #EEE;
}

.d-event-detail, .d-event-dates{
  position: relative;
  top: 50%;
  left: -10%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-transition: left 0.4s;
  -moz-transition: left 0.4s;
  -o-transition: left 0.4s;
  transition: left 0.4s;
}

.d-event-detail{
  padding-left: 2em !important;
  overflow: hidden;
}

.d-event-detail .title{
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: #c1272d;
}

.d-event-detail .place-hour{
  position: relative;
  display: block;
}

.d-event-detail .place-hour > *{
  display: inline-block;
}

.d-event-detail .place-hour .city{
  font-weight: bold;
}

.d-event-detail .attenders{
  color: #999;
  font-style: italic;
}

.d-event{
  position: relative;
  margin-bottom: 1em;
  height: 15em;
  border-bottom: 1px solid #EEE;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  perspective: 1700px;
  -webkit-perspective: 1700px;

  -webkit-transition: background 0.2s;
}

.d-event .background, .d-post .background{
  padding: 0;
  position: relative;
  display: inline-block;
  height: 70%;
  width: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%) rotateY(-75deg);
  -moz-transform: translateY(-50%) rotateY(-75deg);
  -o-transform: translateY(-50%) rotateY(-75deg);
  transform: translateY(-50%) rotateY(-75deg);

  opacity: 0;

  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  -o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;

}

.d-event:hover  .background, .d-post:hover .background{
  opacity: 1;
  -webkit-transform: translateY(-50%) rotateY(0deg);
  -moz-transform: translateY(-50%) rotateY(0deg);
  -o-transform: translateY(-50%) rotateY(0deg);
  transform: translateY(-50%) rotateY(0deg);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  -o-transition: -o-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.d-event  .background .wrapper, .d-post .background .wrapper{

  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.d-event .background a, .d-post .background a{
  background-color: #333;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.d-event .background .y-more-info, .d-event .background .y-edit, .d-event .background .y-delete, .d-post .background .y-more-info, .d-post .background .y-edit, .d-post .background .y-delete{
  height: 33.33332%;

}

.d-event .background .y-more-info img, .d-event .background .y-edit img, .d-event .background .y-delete img, .d-post .background .y-more-info img, .d-post .background .y-edit img, .d-post .background .y-delete img{
  display: inline-block !important;
  width: 20% !important;
  -webkit-transform: translateX(-50%) !important;
  -moz-transform: translateX(-50%) !important;
  -o-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;

}

.d-event .background .y-edit, .d-post .background .y-edit{
  background-color: #ffaf00;
}

.d-event .background .y-delete, .d-post .background .y-delete{
  background-color: #c1272d;
}

.d-event  .background .wrapper img, .d-event  .background .wrapper p, .d-post  .background .wrapper img, .d-post  .background .wrapper p{
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.d-event  .background .wrapper img, .d-post  .background .wrapper img{
  width: 40%;
}

.d-event  .background .wrapper p, .d-post  .background .wrapper p{

  text-align: center;
  font-weight: bolder;
  font-size: 0.7em;
  color: #FFF;
  margin-top: 1em;
  line-height: 0;
  text-transform: uppercase;
}

.d-event:hover .d-event-detail, .d-post:hover .d-post-details{
  left: -3%;
}

.d-event:hover .d-event-dates, .d-post:hover .answer-votes{
  left: -3%;
}

.d-event:last-child{
  border: none;
}

.d-event-dates .day{
  font-size: 5em;
  font-weight: bolder;
  line-height: 0.7em;
  margin-top: 0.2em;
  color: #000000;
}

.d-event-dates .month{
  font-size: 1.2em;
}

.d-event-dates .year{
  margin-bottom: 0.2em;
}

.profile-single{

  text-align: center;

  img{
    border-radius: 50%;
  }
}
