@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  //TODO: change to a WEB-FONT !!!
  font-family: "Avenir", sans-serif;
}

.navbar{
  background-color:   #FFF;
  border-radius:      0;
  border:             none;
  height:             60px;
  margin-bottom:      0;
}

.navbar .logo{
  height:             100%;
}

.navbar .container-fluid, .navbar .navbar-header, .navbar .navbar-brand, .navbar .navbar-collapse, .home_header .container{
  height:             100% !important;
}

.navbar .navbar-brand{
  padding:            20% 0 20% 20px;
}

.navbar .navbar-nav{
  top:                50%;
  position:           relative;
  -webkit-transform:  translateY(-50%);
  -moz-transform:     translateY(-50%);
  -ms-transform:      translateY(-50%);
  -o-transform:       translateY(-50%);
  transform:          translateY(-50%);

}

.navbar .navbar-nav a{
  padding-left:       10px !important;
  padding-top:        18px;
  font-weight:        800;
  text-transform:     uppercase;
}

.home_header{
  background-image:   url("/img/Home_Banner.jpg");
  width:              100vw;
  height:             65vh;
  position:           absolute;
  left:               0;
}

.quote{
  position:           relative;
  width:              70%;
  color:              #FFF;
  font-weight:        700;
  top:                25%;
}

.home_header .container{
  position:           relative;
}

.search-form{
  position:           absolute;
  display:            inline-block;
  top:                55%;
  width:              100%;
  height:             70px;
  padding:            20px 30px;
  background-color:   rgba(0,0,0,0.8);
  border-radius:      0.7em;
}

.search-form > *{
  height:             100%;
}

.btn-search{
  background-color:       #c1272d;
  border:                 none;
  font-weight:            800;
  letter-spacing:         0.1em;

  border-top-right-radius:    0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-left-radius:     0em;
  border-bottom-left-radius:   0em;
}

.text-search{
  border: none;
  border-top-right-radius:    0em;
  border-bottom-right-radius: 0em;
  border-top-left-radius:     0.3em;
  border-bottom-left-radius:  0.3em;
}

.btn-search:hover{
  background-color:   #952226;
}

.text-search:focus{
  outline-style:      none;
  border:             solid 2px #AAA;
}

.btn-attend, .btn-follow{

  background-color:       #c1272d;
}

.avatars{
  border-radius: 50%;
}

.sidebar-avatar{


}
.followed-avatar{
    width: 15rem;
    height: 15.3rem;

}

.following{
  text-align:center;
  padding: 5rem;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;

}

.followed-username{
  padding-top: 1rem;
}

.sidebar{

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 2.2rem 0 0 0;
  color: #F7F7F9;

  .header{
    padding: 3rem;
    width: 100%;
    background-color: #c1272d;
    text-align: center;
    //margin: 0 0 2rem 0;
  }
  h2{

    font-weight: 600;

  }

  ul{
    list-style: none;
  }

  .body{
    padding: 2rem 0 0 0;
    background-color: #222;

    a, a:link, a:visited{
      color: #F7F7F9;

    }

  }

}

/******************
    DASHBOARD
******************/

.dashboard .col-md-9, .dashboard .col-md-3{
  padding: 0;
}

.dashboard .col-md-9{
  margin-left: 25%;
}


.dashboard{
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}

.dashboard-header{
  position: fixed;
  width: 75%;
  height: 14em;
  background: url('/img/Dashboard_Banner.jpg');
  background-size:  100% auto;
  background-position: center 50%;
  background-repeat: no-repeat;
  z-index: 10;
}

.dashboard-header h1{
  position: absolute;
  bottom: -0.25em;
  right: 1em;
  margin: 0;

  font-weight: bolder;
  text-transform: uppercase;
  color:  #FFF;
  font-size: 4em;
}

.dashboard .side-nav{
  position: fixed;
}

.dashboard-nav-header{
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #c1272d;

}

.profile-img-wrapper{
  position: relative;
  border: 1px solid #a61d20;
  display: inline-block;
  padding: 0.5em;
  margin-top: 3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 1000px;
}

.dashboard-profile-img{
  position: relative;

  width: 6em;
  background: #DDD;
  border-radius: 1000px;
}

.dashboard-nav-header h2{
  position: relative;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;

  font-weight: bolder;
  color: #FFF;
  font-size: 2em;
}

.dashboard-nav-menu{
  position: relative;
  background-color: #1b1b1b;
  height: 10000px;
  height: 100vh;
}

.dashboard-nav-menu ul{
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 2em 0;
  list-style: none;
  width: 100%;
}

.dashboard-nav-menu li{
  position: relative;
  height: 4.5em;
  display: inline-block;
  width: 100%;

  -webkit-transition: background 0.3s;
}

.dashboard-nav-menu li img{
  position: relative;
  float: left;
  display: inline-block;
  height: 60%;
  margin-left: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dashboard-nav-menu li a{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.dashboard-nav-menu li .active{
  border-left:  5px solid #4fe2c1;
  background-color: #363636;
}

.dashboard-nav-menu li p{
  position: relative;
  float: left;
  margin-left: 3em;
  display: inline-block;
  top: 50%;
  letter-spacing: 0.05em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: #FFF;
  font-size: 1.1em;
  font-weight: 500;
}

.dashboard-nav-menu li:hover{
  background-color: #363636;
}

.dashboard .text-search, .dashboard .btn-search{
  margin-left: 0;
  height: 2.5em;
}
.dashboard .text-search{
  padding-left: 5px;
  border: 1px solid #DDD;
  border-right: none;
}

.dashboard .container{
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4em 3em;
  margin-top: 14em;
  z-index: 0;
}

.dashboard .container h1{
  color: #000;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 2.6em;
}

.d-event-dates{
  padding-right: 2em !important;
  text-align: right;
  border-right: 1px solid #EEE;
}

.d-event-detail, .d-event-dates{
  position: relative;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.d-event-detail{
  padding-left: 2em !important;
}

.d-event-detail h2{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bolder;
  color: #c1272d;
}

.d-event-detail .place-hour{
  position: relative;
  display: block;
}

.d-event-detail .place-hour > *{
  display: inline-block;
}

.d-event-detail .place-hour .city{
  font-weight: bold;
}

.d-event-detail .attenders{
  color: #999;
  font-style: italic;
}

.d-event{
  position: relative;
  margin-bottom: 1em;
  height: 15em;
  border-bottom: 1px solid #EEE;
  cursor: pointer;

  -webkit-transition: background 0.2s;
  border-radius: 10px;
}

.d-event:hover{
  background-color: #EEE;
}

.d-event:last-child{
  border: none;
}

.d-event-dates .day{
  font-size: 5em;
  font-weight: bolder;
  line-height: 0.7em;
  margin-top: 0.2em;
  color: #000000;
}

.d-event-dates .month{
  font-size: 1.2em;
}

.d-event-dates .year{
  margin-bottom: 0.2em;
}

.profile-single{

  text-align: center;

  img{
    border-radius: 50%;
  }
}
